*

!/game
!/game/*.go

!/go.mod
!/go.sum
!/main.go

!/resources
!/resources/images
!/resources/images/block.png
!/resources/images/images.go

!/screenshots

!/.gitignore
!/LICENSE
!/README.md
!/TODO.md

**/.DS_Store
